* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-color: #383737;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  form {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  input{
    margin-bottom: 20px;
  }
  
  label {
    color: white;
    font-size: 20px;
  }
  
  #articleForm {
    margin-bottom: 20px;
  }
  
  #articleForm input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  #articleForm button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
  }

  #articleForm textarea {
    width: 300px;
    height: 100px;
    margin-bottom: 20px;
  }
  
  .form-control {
    width: 300px;
  }
  
  ul {
    list-style: none;
    margin-top: 20px;
    padding: 0;
    width: 300px;
    text-align: center;
  }
  
  li {
    color: white;
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .list{
    color: white;
  }

  .error {
    margin-top: 20px;
    color: red;
    font-size: 20px;
  }
.cards{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
  .card {
    width: 300px;
    background-color: #ffffff00;
    color: black;
    padding: 10px;
    margin-top: 20px;
    border-radius: 4px;
  }
  img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
  }
  h3, p{
    margin-top: 10px;
    color: white;
    text-align: center;
  }

  h1{
    color: white;
    text-align: center;
  }